# Data acquisition and cleanning

### References
* https://www.twilio.com/blog/2017/08/geospatial-analysis-python-geojson-geopandas.html
* https://developers.arcgis.com/features/geocoding/#search-for-places

In [ ]:
# ! conda install -c conda-forge geojson

### conda packages
conda install -c conda-forge geojson

## Connect to AARP & Google APIs through one location

- Retrive locations from AARP API

In [ ]:
# APT example
# !curl -s "https://geoapp.livabilityindex.byf1.io/locateGeocodedPt?lat=42.3539038&lon=-71.1337112&geocodedName=Allston,%20Boston,%20MA%2002134" -H "Accept: application/json" -o aarp/test1.json

In [ ]:
import requests

# AARP_URL = 

def query_aarp(lat, lon, name):
    with requests.Session() as session:
        params = {'lat': lat, 'lon': lon, 'geocodedName': name}
        headers = {'Accept': 'application/json'}
        response = session.get('https://geoapp.livabilityindex.byf1.io/locateGeocodedPt', params=params, headers=headers)
        response.raise_for_status()
        return response.json()

- Retrive locations from google map API

In [ ]:
PLACES_URL = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"

def query_places(input_text, fields):
    params = {
        "key": "AIzaSyDtZFrO6_e4z87_kMlXb6tv6eP6Tt8Vu0U",
        "input": input_text,
        "inputtype": "textquery",
        "fields": ",".join(fields),
    }
    headers= {}
    with requests.Session() as session:
        response = session.get(PLACES_URL, params=params, headers=headers)
        response.raise_for_status()
        return response.json()

def query_lat_lon(name):
    input_text = name
    fields = [
        "formatted_address", 
        "geometry",
    ]
    place_details = query_places(input_text, fields)
    first_candidate = place_details['candidates'][0]
    address = first_candidate['formatted_address']
    latitude = first_candidate['geometry']['location']['lat']
    longitude = first_candidate['geometry']['location']['lng']
    print(f'[{name}] The location of "{address}" is {latitude}(lat), {longitude}(lon).')
    return latitude, longitude

- Test for one location

In [289]:
name = "Theater District, New York, NY"
lat, lon = query_lat_lon(name)
result = query_aarp(lat, lon, name)

[Theater District, New York, NY] The location of "Theater District, New York, NY, USA" is 40.759011(lat), -73.9844722(lon).

In [290]:
f = result['features'][0]

In [1]:
# f # get a dictionary with rating score for each factor

## Import location data

In [2]:
import numpy as np
import pandas as pd

### load neighborhood rent data

In [3]:
rents = pd.read_csv('renthop/average_rents_six_cities.csv')

In [4]:
rents.head()

         City   Neighborhood  Studio     1BR     2BR   Budget
0  Boston, MA        Allston     NaN  1875.0  2600.0    Cheap
1  Boston, MA  Back Bay East     NaN  2850.0  4950.0   Pricey
2  Boston, MA  Back Bay West     NaN  2675.0     NaN   Pricey
3  Boston, MA    Bay Village     NaN  3900.0  6565.0   Pricey
4  Boston, MA    Beacon Hill     NaN  2395.0  2950.0  Average

- Convert neighborhood address to google API location format

In [5]:
rents['Locations'] = rents['Neighborhood'] + ', ' + rents['City']

In [6]:
locations = rents.Locations.unique().tolist()

## Add all locations to retrive seven main aspects of features for each neighborhood

- Create a feature catalog, including an overall rating category-livability and seven detailed categories

In [7]:
keys = {
    'livability': ['engagement', 'environment', 'health', 'housing', 'neighborhood', 'opportunity', 'transportation'],
    'engagement': ['broadband cost and speed', 'cultural, arts, and entertainment institutions', 'opportunity for civic involvement', 'social involvement index'],
    'environment': ['air quality index', 'local industrial pollution', 'drinking water quality', 'near-roadway pollution'],
    'health': ['access to exercise opportunities', 'obesity prevalence', 'preventable hospitalization rate', 'health professional shortage areas', 'tobacco use'],
    'neighborhood': ['access to grocery stores', 'access to parks', 'diversity of destinations', 'activity density', 'transit accessibility', 'automobile accessibility', 'crime rates', 'access to libraries', 'vacancy rate'], 
    'opportunity': ['age diversity', 'high school graduation rate', 'income inequality', 'jobs/worker'],
    'transportation': ['frequency of local transit service', 'ADA-accessible stations and vehicles', 'walk trips', 'congestion', 'household transportation costs', 'crash rates', 'speed limits'],
    'demographics': ['total_popu', 'pct_africa', 'pct_asian', 'pct_hispan', 'pct_50plus', 'pct_65plus', 'median_inc', 'pct_povert', 'pct_disabi', 'life_ex']
}

- Append all feature data to build a dictionary with scores of features and location information with categorical names

In [9]:
records = []
for name in locations:
    lat, lon = query_lat_lon(name)
    result = query_aarp(lat, lon, name)
    f = result['features'][0]
    record = {'0_lat': lat,
              '0_lon': lon,
              '0_location': name}
    for k, cols in keys.items():
        for c in cols:
            new_k = f'{k}-{c}' 
            record[new_k] = f[k][c]
#     print(result)
    records.append(record)

- Convert the dictionary to data frame

In [860]:
rent_liv = pd.DataFrame.from_records(records)
# save the dataset to a csv file
rent_liv.to_csv('rent_liv.csv', index=False)

In [808]:
rent_liv.shape

(185, 53)

## Features data wrangling to struture a clean data

- Load the data from retrived from AARP with selected features that may associate with rent

In [10]:
rent_liv = pd.read_csv('rent_liv.csv')

- Create short variable names for features

In [11]:
rent_liv.shape

(185, 53)

In [12]:
rent_liv.columns

Index(['0_lat', '0_location', '0_lon', 'demographics-life_ex',
       'demographics-median_inc', 'demographics-pct_50plus',
       'demographics-pct_65plus', 'demographics-pct_africa',
       'demographics-pct_asian', 'demographics-pct_disabi',
       'demographics-pct_hispan', 'demographics-pct_povert',
       'demographics-total_popu', 'engagement-broadband cost and speed',
       'engagement-cultural, arts, and entertainment institutions',
       'engagement-opportunity for civic involvement',
       'engagement-social involvement index', 'environment-air quality index',
       'environment-drinking water quality',
       'environment-local industrial pollution',
       'environment-near-roadway pollution',
       'health-access to exercise opportunities',
       'health-health professional shortage areas',
       'health-obesity prevalence', 'health-preventable hospitalization rate',
       'health-tobacco use', 'livability-engagement', 'livability-environment',
       'livability-health', 'livability-housing', 'livability-neighborhood',
       'livability-opportunity', 'livability-transportation',
       'neighborhood-access to grocery stores',
       'neighborhood-access to libraries', 'neighborhood-access to parks',
       'neighborhood-activity density',
       'neighborhood-automobile accessibility', 'neighborhood-crime rates',
       'neighborhood-diversity of destinations',
       'neighborhood-transit accessibility', 'neighborhood-vacancy rate',
       'opportunity-age diversity', 'opportunity-high school graduation rate',
       'opportunity-income inequality', 'opportunity-jobs/worker',
       'transportation-ADA-accessible stations and vehicles',
       'transportation-congestion', 'transportation-crash rates',
       'transportation-frequency of local transit service',
       'transportation-household transportation costs',
       'transportation-speed limits', 'transportation-walk trips'],
      dtype='object')

In [13]:
new_names = []
counters = {}
for c in rent_liv.columns:
    prefix = c[:3]
    if prefix not in counters:
        counters[prefix] = 1
    else:
        counters[prefix] += 1
    index = counters[prefix]
    new_c = f'{prefix}-{index}'  # first time would 'eng-1'
    new_names.append(new_c)
# new_names

In [14]:
long_names = rent_liv.columns.to_list()

In [17]:
rent_liv.columns = new_names
new_names[0:5]

['0_l-1', '0_l-2', '0_l-3', 'dem-1', 'dem-2']

- Split value and unit for each data point

In [18]:
# using apply and lamba to process columns
from pandas.api.types import is_numeric_dtype

rent_liv_no_unit = rent_liv.copy()
excluded_columns = ['0_l-1','0_l-2','0_l-3']

for c in rent_liv_no_unit.columns:
    if c not in excluded_columns and not is_numeric_dtype(rent_liv_no_unit[c]):
        rent_liv_no_unit[c] = rent_liv_no_unit[c].apply(lambda x: float(x.split()[0]))

rent_liv_no_unit.head()

,0_l-1,0_l-2,0_l-3,dem-1,dem-2,dem-3,dem-4,dem-5,dem-6,dem-7,...,opp-2,opp-3,opp-4,tra-1,tra-2,tra-3,tra-4,tra-5,tra-6,tra-7
0,42.353904,"Allston, Boston, MA",-71.133711,79,37981,11,0,14,10,12,...,71.0,0.533,0.873,78.2,34.683,2.487,294.000,9816.0,25.46,1.47
1,42.352134,"Back Bay East, Boston, MA",-71.078004,79,103681,35,14,0,11,12,...,71.0,0.533,0.873,78.2,34.683,2.783,223.000,8428.0,26.78,2.31
2,42.349409,"Back Bay West, Boston, MA",-71.089889,79,92500,28,12,4,8,12,...,71.0,0.533,0.873,78.2,34.683,2.651,214.000,7670.0,38.82,1.88
3,42.348957,"Bay Village, Boston, MA",-71.069834,79,192763,48,32,0,15,12,...,71.0,0.533,0.873,78.2,34.683,2.685,279.000,8988.0,26.38,4.06
4,42.358800,"Beacon Hill, Boston, MA",-71.070739,79,103281,37,17,0,8,12,...,71.0,0.533,0.873,78.2,34.683,2.628,63.333,7479.0,25.95,4.64

#### Create a variable long names, short names, and units reference table

In [19]:
# extract units
one_location = rent_liv.iloc[0, :]
# one_location = one_location.to_list()

In [20]:
one_location.head(20)

0_l-1                                               42.3539
0_l-2                                   Allston, Boston, MA
0_l-3                                              -71.1337
dem-1                                                    79
dem-2                                                 37981
dem-3                                                    11
dem-4                                                     0
dem-5                                                    14
dem-6                                                    10
dem-7                                                    12
dem-8                                                    31
dem-9                                                    32
dem-10                                                 1496
eng-1                                        96.000 percent
eng-2                                    0.087 institutions
eng-3                                   7.208 organizations
eng-4                               0.974 involvement index
env-1                                            0.333 days
env-2                                         0.000 percent
env-3     0.0000000000000000000000000000 air toxicity index
Name: 0, dtype: object

In [21]:
def get_unit(value):
    if type(value) == np.str:
        unit = value.split(maxsplit = 1)[1]
    else:
        unit = None
    return unit

excluded_columns = ['0_l-1','0_l-2','0_l-3']

units = []
for c, v in one_location.items():
    if c in excluded_columns:
#         print(c, v)
        unit = None
    else:
        unit = get_unit(v)
    units.append(unit)

In [23]:
val_name_ref = pd.DataFrame({'factor full names': long_names,
                             'short names': new_names,
                             'units': units}, columns=['factor full names', 'short names', 'units'])

The reference table for variable names, short names, and variable units

In [24]:
val_name_ref

,factor full names,short names,units
0,0_lat,0_l-1,None
1,0_location,0_l-2,None
2,0_lon,0_l-3,None
3,demographics-life_ex,dem-1,None
4,demographics-median_inc,dem-2,None
5,demographics-pct_50plus,dem-3,None
6,demographics-pct_65plus,dem-4,None
7,demographics-pct_africa,dem-5,None
8,demographics-pct_asian,dem-6,None
9,demographics-pct_disabi,dem-7,None
10,demographics-pct_hispan,dem-8,None
11,demographics-pct_povert,dem-9,None
12,demographics-total_popu,dem-10,None
13,engagement-broadband cost and speed,eng-1,percent
14,"engagement-cultural, arts, and entertainment i...",eng-2,institutions
15,engagement-opportunity for civic involvement,eng-3,organizations
16,engagement-social involvement index,eng-4,involvement index
17,environment-air quality index,env-1,days
18,environment-drinking water quality,env-2,percent
19,environment-local industrial pollution,env-3,air toxicity index
20,environment-near-roadway pollution,env-4,percent
21,health-access to exercise opportunities,hea-1,percent
22,health-health professional shortage areas,hea-2,priority score
23,health-obesity prevalence,hea-3,percent
24,health-preventable hospitalization rate,hea-4,"discharges / 1,000 Medicare enrollees"
25,health-tobacco use,hea-5,percent
26,livability-engagement,liv-1,None
27,livability-environment,liv-2,None
28,livability-health,liv-3,None
29,livability-housing,liv-4,None
30,livability-neighborhood,liv-5,None
31,livability-opportunity,liv-6,None
32,livability-transportation,liv-7,None
33,neighborhood-access to grocery stores,nei-1,stores and markets
34,neighborhood-access to libraries,nei-2,libraries
35,neighborhood-access to parks,nei-3,parks
36,neighborhood-activity density,nei-4,jobs + people / sq. mi.
37,neighborhood-automobile accessibility,nei-5,jobs
38,neighborhood-crime rates,nei-6,"crimes / 10,000 people"
39,neighborhood-diversity of destinations,nei-7,diversity score (0-1 scale)
40,neighborhood-transit accessibility,nei-8,jobs
41,neighborhood-vacancy rate,nei-9,percent
42,opportunity-age diversity,opp-1,relative diversity
43,opportunity-high school graduation rate,opp-2,percent
44,opportunity-income inequality,opp-3,coefficient
45,opportunity-jobs/worker,opp-4,jobs / worker
46,transportation-ADA-accessible stations and veh...,tra-1,percent
47,transportation-congestion,tra-2,hours
48,transportation-crash rates,tra-3,fatal crashes
49,transportation-frequency of local transit service,tra-4,buses and trains
50,transportation-household transportation costs,tra-5,dollars
51,transportation-speed limits,tra-6,miles per hour
52,transportation-walk trips,tra-7,trips

- Merge average rent with features

In [25]:
rent_feature = rents.merge(rent_liv_no_unit, left_on='Locations', right_on='0_l-2')

In [26]:
rent_feature.head()

,City,Neighborhood,Studio,1BR,2BR,Budget,Locations,0_l-1,0_l-2,0_l-3,...,opp-2,opp-3,opp-4,tra-1,tra-2,tra-3,tra-4,tra-5,tra-6,tra-7
0,"Boston, MA",Allston,NaN,1875.0,2600.0,Cheap,"Allston, Boston, MA",42.353904,"Allston, Boston, MA",-71.133711,...,71.0,0.533,0.873,78.2,34.683,2.487,294.000,9816.0,25.46,1.47
1,"Boston, MA",Back Bay East,NaN,2850.0,4950.0,Pricey,"Back Bay East, Boston, MA",42.352134,"Back Bay East, Boston, MA",-71.078004,...,71.0,0.533,0.873,78.2,34.683,2.783,223.000,8428.0,26.78,2.31
2,"Boston, MA",Back Bay West,NaN,2675.0,NaN,Pricey,"Back Bay West, Boston, MA",42.349409,"Back Bay West, Boston, MA",-71.089889,...,71.0,0.533,0.873,78.2,34.683,2.651,214.000,7670.0,38.82,1.88
3,"Boston, MA",Bay Village,NaN,3900.0,6565.0,Pricey,"Bay Village, Boston, MA",42.348957,"Bay Village, Boston, MA",-71.069834,...,71.0,0.533,0.873,78.2,34.683,2.685,279.000,8988.0,26.38,4.06
4,"Boston, MA",Beacon Hill,NaN,2395.0,2950.0,Average,"Beacon Hill, Boston, MA",42.358800,"Beacon Hill, Boston, MA",-71.070739,...,71.0,0.533,0.873,78.2,34.683,2.628,63.333,7479.0,25.95,4.64

In [20]:
# save the integrated dataset
rent_feature = rent_feature.to_csv('rent_feature.csv')